@import "mixins";
.prescription-container {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  .toggle-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    @include font(14, 0.7vw, 17, hbold, #212529);
  }

  .toggle-switch {
    position: relative;
    width: 40px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      border-radius: 20px;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: #007bff;
    }

    input:checked + .slider:before {
      transform: translateX(20px);
    }
  }

  .prescription-table {
    width: 100%;
    border-collapse: collapse;
    background: white;

    th,
    td {
      border: 1px solid #ddd;
      padding: 5px;
      text-align: center;
    }

    th {
      background: #007bff;
      @include font(14, 0.5vw, 16, hbold, #ffffff);
    }

    input,
    select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      @include font(14, 0.5vw, 16, hbold, #000);
    }

    .delete-btn {
      background: #ff4d4d;
      @include font(14, 0.5vw, 16, hbold, #ffffff);
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 3px;
    }
  }

  .add-btn {
    background: #007bff;
    @include font(14, 0.5vw, 16, hbold, #ffffff);
    padding: 8px 12px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
}

.medicine-input-container {
  position: relative;
}

.medicine-suggestions {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;

  li {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }
}
button {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:hover {
  color: #007bff;
}

button:active {
  color: #0056b3;
}

button.recording {
  color: red;
}




.mic-button {
  background: transparent;
  border: none;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #555;
}

.mic-button:hover {
  color: #007bff;
}

.mic-button.recording {
  color: red;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}