.app-component{
    height: 100%;
    width: 100%;
    background: #ffffff;
    overflow-y: scroll;
}

.app{
    margin-top: 5em;
    width: 100%;
    height: calc(100% - 4em);
    overflow-y: scroll;

}