<div class="reception-dashboard-component">
  <div class="reception-dashboard-wrapper">
    <div class="heading">
      <div class="hello"></div>

      <div class="table-title">Patient Registration Details</div>
      <!-- Global Search -->
      <div class="global-search">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
          <input
            type="text"
            class="form-control global-search-input"
            placeholder="Search by Name or Mobile Number"
            [(ngModel)]="globalSearchTerm"
            (input)="filterData()"
          />
          <button
            *ngIf="globalSearchTerm"
            class="btn btn-outline-secondary clear-btn"
            (click)="clearSearch()"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="table-data">
      <!-- <div *ngFor="let category of tableCategories"> -->
        <!-- Table Title -->

        <!-- Display Table -->
        <app-table
          [tableData]="filteredTableData"
          [tableColumns]="tableColumns"
          [actions]="[
             { label: 'OPD Bill', action: 'opdBill' },
             { label: 'IPD Bill', action: 'ipdBill' },
            { label: 'Skip', action: 'skip' },
            { label: 'Delete', action: 'delete' },
            { label: 'Details', action: 'details' }
          ]"
          (actionClicked)="handleAction($event)"
        ></app-table>
      <!-- </div> -->
    </div>
  </div>
</div>
