<div class="review-component">
    <div class="review-wrapper">
      <div class="table-data">
        <div *ngFor="let category of tableCategories">
          <!-- Table Title -->
          <h2 class="table-title">{{ category | titlecase }} Review Details</h2>
  
          <!-- Display Table -->
          <app-table
            [tableData]="tableData[category]"
            [tableColumns]="tableColumns[category]"
            [actions]="[
              { label: 'Undo', action: 'undo' },
            ]"
            (actionClicked)="handleAction($event)"
            [showSearch]="true"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
  