
  
  @font-face {
    font-family: "helvetica";
    src: url(~src/assets/fonts/Helvetica.ttf) format("truetype");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "helvetica-bold";
    src: url(~src/assets/fonts/Helvetica-Bold.ttf) format("truetype");
    font-weight: 700;
  }

  @font-face {
    font-family: "helvetica-bold-oblique";
    src: url(~src/assets/fonts/Helvetica-BoldOblique.ttf) format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "helvetica-light";
    src: url(~src/assets/fonts/Helvetica-light.ttf) format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "helvetica-light-oblique";
    src: url(~src/assets/fonts/Helvetica-Oblique.ttf) format("truetype");
    font-weight: 400;
  }
  @font-face {
    font-family: "helvetica-rounded-bold";
    src: url(~src/assets/fonts/Helvetica-rounded-bold.otf) format("truetype");
    font-weight: 600;
  }

  @font-face {
    font-family: "helvetica-compressed";
    src: url(~src/assets/fonts/Helvetica-compressed.otf) format("truetype");
    font-weight: 600;
  }