@import "mixins";

.opd-bill-component {
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .opd-bill-wrapper {
    width: 100%;
    height: 100%;
    .header {
      width: 95%;
      @include flex-container(center, space-between, row);
      margin-top: 4em;
      .opd-bill-text {
        @include font(26, 1vw, 30, hbold, #000);
        margin: 0;
      }
      .manage-charge {
        button {
          @include font(14, 1vw, 16, hbold, #000);
        }
      }
    }
    .opd-bill-container {
      width: 90%;
      margin: auto;
      background-color: #f9fafb;
      margin-top: 2em;
    }
    .table th,
    .table td {
      vertical-align: middle;
      @include font(14, 1vw, 16, hbold, #000);
    }
    .form-select,
    .form-control {
      border-radius: 8px;
    }
  }
}

.btn {
  border-radius: 8px;
  margin-right: 5px;
}
.btn-danger {
  @include font(14, 1vw, 16, hbold, #fff);
  background-color: #e3342f;
}
.btn-success {
  @include font(14, 1vw, 16, hbold, #fff);
  background-color: #38c172;
}
.btn-primary {
  @include font(14, 1vw, 16, hbold, #fff);
  background-color: #3490dc;
}
.btn-secondary {
  @include font(14, 1vw, 16, hbold, #fff);
  background-color: #6c757d;
}

input {
  @include font(14, 1vw, 16, helvetica, #000);
}
td {
  @include font(14, 1vw, 16, hbold, #000);
}

.modal-header {
  width: 100%;
  @include flex-container(center, space-between, row);
  margin: 0;
  .modal-title {
    @include font(20, 1vw, 26, hbold, #000);
    margin: 0;
  }
}

button{
    border: none;
}