<div class="login-component">
  <div class="login-wrapper">
    <div class="login-form-container">
      <div class="header">LOGIN</div>
      <!-- <div class="login-icon">
        <img src="assets/images/agent-login/login.svg" alt="Login Icon">
      </div> -->
      <div class="input-fields">
        <form [formGroup]="loginForm">
          <div class="inputs" *ngFor="let field of fields">
            <img [src]="field?.src" [alt]="field?.title" class="input-icon">
            <input
              [type]="field?.type"
              [placeholder]="field?.placeholder"
              [formControlName]="field?.formControlName"
              class="input-field"
            />
          </div>
        </form>
      </div>
      <small>Don't have an account? <span (click)="signup()">Signup</span></small>
      <div
        class="submit-button"
        [class.disabled]="!loginForm?.valid"
        (click)="loginUser()"
      >
        <div class="submit-button-text">Login</div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loaderService.loaderState$ | async"
  [message]="'Logging you in'"
></app-loader>