<div class="prescription-view-component">
  <div class="prescription-view-wrapper">
    <div class="patient-details">
      <app-patient-details-view></app-patient-details-view>
    </div>

    <div class="top-section">
      <!-- Follow-up Section -->
      <div class="add-followup">
        <button (click)="openModal('followup')">Add Follow-up</button>
        <div *ngIf="followupDate">
          <p class="selected-date">
            Follow-up Date: <span>{{ followupDate }}</span> ({{ followupDay }})
          </p>
        </div>
      </div>

      <div class="admin-patient">
        <button (click)="openModal('admit')">
          {{ isAdmitted ? "Admitted" : "Admit Patient" }}
        </button>
      </div>

      <div class="refer-patient">
        <button (click)="openModal('refer')">Refer Patient</button>
      </div>
      <div class="prescription-canvas">
        <button
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#drawWriteModal"
        >
          Draw/Write
        </button>
      </div>
      <div class="image-gallery">
        <button class="btn btn-primary">Image Gallery</button>
      </div>
    </div>

    <div class="patient-diagnosis-section">
      <div class="examination" *ngFor="let item of dropdowns">
        <app-multi-select-dropdown
          [label]="item.heading"
          [key]="item.key"
          [showCheckBox]="item.showPrintToggle"
          [showVoiceInput]="item.showMic"
          [options]="item.options"
          [dropdownId]="item.dropdownId"
          (selectionChanged)="onSelectionChanged($event)"
        ></app-multi-select-dropdown>
      </div>
    </div>
    <div
      class="medicine-prescription card shadow-sm p-2"
      #prescriptionSection
      [style.border-radius.em]="1"
    >
      <app-prescription-table
        [prescriptionData]="prescriptionData"
        (medicineAdded)="scrollToPrescription()"
        (prescriptionUpdated)="onPrescriptionUpdate($event)"
      ></app-prescription-table>
    </div>

    <div class="print-save-button" (click)="saveDetails()">
      <button class="save-button">Save</button>
      <button class="save-button" (click)="saveDetails('print')">Print</button>
    </div>
  </div>
</div>
<app-draw-write-modal [patientId]="selectedPatientId"></app-draw-write-modal>
<!-- Admit Patient Modal -->
<div #admitPatientModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Admit Patient</h5>
        <div type="button" (click)="closeModal()">
          <span>&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to admit this patient?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="admitPatient()">
          Confirm Admit
        </button>
      </div>
    </div>
  </div>
</div>
<div #followUpPatientModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Follow-Up Patient</h5>
        <div type="button" (click)="closeModal()">
          <span>&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="add-followup">
          <div class="followup-container">
            <label class="selected-date">Select Follow-up Date:</label>
            <input
              class="form-control"
              type="date"
              (change)="onDateChange($event)"
            />

            <label class="selected-date">Select Follow-up Duration:</label>
            <div class="followup-options">
              <button
                *ngFor="let option of followupOptions"
                (click)="onDurationChange(option.value)"
              >
                {{ option.label }}
              </button>
            </div>

            <div *ngIf="followupDate">
              <p class="selected-date">
                Follow-up Date: <span>{{ followupDate }}</span> ({{
                  followupDay
                }})
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="closeModal()">
          Confirm Follow-Up
        </button>
      </div>
    </div>
  </div>
</div>

<div #referUpPatientModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Refer Patient</h5>
        <div type="button" (click)="closeModal()">
          <span>&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="card mt-2 p-3">
          <div class="mb-2">
            <input
              type="text"
              class="form-control"
              placeholder="Search doctor..."
              [(ngModel)]="searchQuery"
              (input)="filterDoctors()"
            />
          </div>

          <ul class="list-group mb-2" *ngIf="filteredDoctors.length > 0">
            <li
              class="list-group-item list-group-item-action"
              *ngFor="let doctor of filteredDoctors"
              (click)="selectDoctor(doctor)"
            >
              {{ doctor.name }}
            </li>
          </ul>

          <p *ngIf="selectedDoctor" class="alert alert-success p-2">
            Selected Doctor: <strong>{{ selectedDoctor.name }}</strong>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          *ngIf="selectedDoctor"
          (click)="referPatient()"
        >
          Confirm Refer
        </button>
      </div>
    </div>
  </div>
</div>

<div #templateModal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Use Template</h5>
        <div type="button" (click)="closeModal()">
          <span>&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div *ngFor="let data of titleData">
          <button
            class="btn btn-primary"
            type="button"
            (click)="useTemplate(data)"
          >
            {{ data.title }}
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          *ngIf="selectedDoctor"
          (click)="referPatient()"
        >
          Confirm Refer
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
