<div class="lab-dashboard-component">
    <div class="lab-dashboard-wrapper">
        <div class="table-data">
            <div *ngFor="let category of tableCategories">
              <!-- Table Title -->
      
              <!-- Display Table -->
              <app-table
                [tableData]="filteredTableData[category]"
                [tableColumns]="tableColumns[category]"
                [actions]="[
                   { label: 'Lab Tests', action: 'labTest' },
                   { label: 'Reports', action: 'reports' },
                ]"
                (actionClicked)="handleAction($event)"
                [showSearch]="true"
              ></app-table>
            </div>
          </div>
    </div>
</div>