@import "mixins";
.header {
    text-align: center;
    border-bottom: 2px solid #000000;
    small {
      text-align: center;
      @include font(12,1vw,14,helvetica,#212529);
    }
    .bottom {
      @include flex-container();
      gap: 2em;

      .logo img {
        width: 4.3em;
        height: auto;
      }

      .hospital-name {
        @include font(26, 1vw, 30, hbold, #000);

        margin: 0;
      }

      .hospital-address,
      .hospital-contact {
        @include font(14, 1vw, 16, helvetica, #555);

        margin: 0;
      }
    }
  }