@import "mixins";
.header {
  text-align: center;
  border-bottom: 2px solid #000000;
  .bottom {
    @include flex-container();
    gap: 2em;

    .logo img {
      width: 4.3em;
      height: auto;
      margin-bottom: 0.5em;
    }
  }
}

.bold-text-address {
  @include font(14, 1vw, 16, hbold, #555);
}
.normal-text-address {
  @include font(14, 1vw, 16, helvetica, #555);
}

.bold-text-contact {
  @include font(14, 1vw, 16, hbold, #555);
}
.normal-text-contact {
  @include font(14, 1vw, 16, helvetica, #555);
}
.bold-text-otherTitle {
  text-align: center;
  @include font(12, 1vw, 14, hbold, #212529);
}
.normal-text-otherTitle {
  text-align: center;
  @include font(12, 1vw, 14, helvetica, #212529);
}
.bold-text-mainTitle {
  @include font(26, 1vw, 30, hbold, #000);
  margin: 0;
}

.normal-text-mainTitle {
  @include font(26, 1vw, 30, helvetica, #000);
  margin: 0;
}
