<div class="admin-dashboard-component">
  <div class="admin-dashboard-wrapper">
    <div class="table-data">
      <div class="heading">
        Registration Details
      </div>
        <app-table
          [tableData]="tableData"
          [tableColumns]="tableColumns"
          [actions]="[
            { label: 'Edit', action: 'edit' },
            { label: 'Delete', action: 'delete',class:'btn btn-danger' }
          ]"
          (actionClicked)="handleAction($event)"
        ></app-table>
    </div>
  </div>
</div>
