<div class="signup-component">
    <div class="signup-wrapper">
        <div class="login-form-container">
            <div class="header">SignUp</div>
            <!-- <div class="login-icon">
              <img src="assets/images/agent-login/login.svg" alt="Login Icon">
            </div> -->
            <div class="input-fields">
              <form [formGroup]="loginForm">
                <div class="inputs" *ngFor="let field of fields">
                  <img [src]="field?.src" [alt]="field?.title" class="input-icon">
                  <input
                    [type]="field?.type"
                    [placeholder]="field?.placeholder"
                    [formControlName]="field?.formControlName"
                    class="input-field"
                  />
                </div>
              </form>
            </div>
            <div
              class="submit-button"
              [class.disabled]="!loginForm?.valid"
              (click)="signupUser()"
            >
              <div class="submit-button-text">Signup</div>
            </div>
          </div>
    </div>
</div>